body{
    text-align: center;
    margin: 0;
    vertical-align: middle;
}

.bg{
    background-image: url(./midia/bgchina.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    height: 100%;
    opacity: 90%;
}

h1{
    color:rgb(255, 251, 0);
    font-style: italic;
    text-align: center;
    text-shadow: 2px 2px red;
    font-size: 300%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2{
    color:gold;
    font-weight: bolder;
    font-size: 250%;
    text-shadow: 2px 2px red;
}

h3{
    color:rgb(255, 251, 0);
    font-size: 150%;
    text-align: justify;
    padding: 35px;
    text-shadow: 2px 2px red;
}

h4{
    color:rgb(255, 251, 0);
    font-size: 200%;
    text-align: center;
    text-shadow: 2px 2px red;
}

.title{
    width: auto;
}

.title table{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
img{
    text-align: center;
    vertical-align: middle;
    opacity: 75%;
    padding-bottom: 15px;
    height: auto;
}

img:hover {
    transition: all 1s ease-in-out;
    opacity: 1.0;
}

ul{
    background-color: rgb(129, 6, 6);
    opacity: 90%;
    border-radius: 50px;
    color: gold;
}

iframe{
    border-radius: 50px;
}

.descricao{
    width: 60%;
    height: 40%;
    text-align: center;   
    margin-left: auto;
    margin-right: auto;
}

.mapa{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
}